---
http_interactions:
- request:
    method: get
    uri: http://open.mapquestapi.com/geocoding/v1/address?key=<api_key>&location=Anchorage,%20AK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 15 Nov 2021 18:38:53 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Anchorage,
        AK"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Anchorage","adminArea5Type":"City","adminArea4":"Anchorage","adminArea4Type":"County","adminArea3":"AK","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"AK
        99501-2118","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":61.216313,"lng":-149.894852},"displayLatLng":{"lat":61.216313,"lng":-149.894852},"mapUrl":"http://open.mapquestapi.com/staticmap/v5/map?key=<api_key>&type=map&size=225,160&locations=61.2163129,-149.8948523|marker-sm-50318A-1&scalebar=true&zoom=12&rand=426348737"}]}]}'
  recorded_at: Mon, 15 Nov 2021 18:38:53 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<api_key>&exclude=minutely,alerts&lat=61.216313&lon=-149.894852&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":61.2163,"lon":-149.8949,"timezone":"America/Anchorage","timezone_offset":-32400,"current":{"dt":1637001533,"sunrise":1636999607,"sunset":1637025719,"temp":8.6,"feels_like":8.6,"pressure":1008,"humidity":87,"dew_point":5.86,"uvi":0,"clouds":90,"visibility":402,"wind_speed":0,"wind_deg":0,"weather":[{"id":741,"main":"Fog","description":"fog","icon":"50d"}]},"hourly":[{"dt":1636999200,"temp":8.69,"feels_like":0.18,"pressure":1009,"humidity":86,"dew_point":5.72,"uvi":0,"clouds":76,"visibility":10000,"wind_speed":4.65,"wind_deg":28,"wind_gust":6.6,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1637002800,"temp":8.6,"feels_like":-0.09,"pressure":1008,"humidity":87,"dew_point":5.86,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":4.76,"wind_deg":24,"wind_gust":6.8,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1637006400,"temp":9.21,"feels_like":0.36,"pressure":1009,"humidity":86,"dew_point":6.24,"uvi":0.11,"clouds":76,"visibility":10000,"wind_speed":4.97,"wind_deg":19,"wind_gust":6.44,"weather":[{"id":803,"main":"C[...]
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=relaxation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"97-JbFu+LMV+jFjwnWr5c0DNGI26co"
    body:
      encoding: UTF-8
      string: '{"activity":"Watch a movie you''d never usually watch","type":"relaxation","participants":1,"price":0.15,"link":"","key":"9212950","accessibility":0.15}'
  recorded_at: Mon, 15 Nov 2021 18:38:56 GMT
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=cooking
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"82-KMvPHiVV22dD2LIGFYF4sWsF714"
    body:
      encoding: UTF-8
      string: '{"activity":"Make homemade ice cream","type":"cooking","participants":1,"price":0.2,"link":"","key":"3818400","accessibility":0.2}'
  recorded_at: Mon, 15 Nov 2021 18:38:59 GMT
[...]
