---
http_interactions:
- request:
    method: get
    uri: http://open.mapquestapi.com/geocoding/v1/address?key=<api_key>&location=Denver,%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 15 Nov 2021 17:25:05 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Denver,
        CO"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":39.739154,"lng":-104.984703},"displayLatLng":{"lat":39.739154,"lng":-104.984703},"mapUrl":"http://open.mapquestapi.com/staticmap/v5/map?key=<api_key>&type=map&size=225,160&locations=39.7391536,-104.9847034|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1748604750"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XCX","geocodeQuality":"COUNTY","d[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<api_key>&exclude=minutely,alerts&lat=39.739154&lon=-104.984703&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1636997076,"sunrise":1636983900,"sunset":1637019867,"temp":68.36,"feels_like":65.75,"pressure":1016,"humidity":18,"dew_point":24.26,"uvi":1.57,"clouds":6,"visibility":10000,"wind_speed":4.41,"wind_deg":227,"wind_gust":7.29,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1636995600,"temp":68.36,"feels_like":65.75,"pressure":1016,"humidity":18,"dew_point":24.26,"uvi":1.57,"clouds":6,"visibility":10000,"wind_speed":4.41,"wind_deg":227,"wind_gust":7.29,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1636999200,"temp":67.89,"feels_like":65.28,"pressure":1016,"humidity":19,"dew_point":25.05,"uvi":2.28,"clouds":7,"visibility":10000,"wind_speed":3.58,"wind_deg":214,"wind_gust":7.34,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1637002800,"temp":68.22,"feels_like":65.53,"pressure":1015,"humidity":17,"dew_point":22.95,"uvi":2.11,"clouds":39,"visibility":10000,"wind_speed":2.64,"wind_deg":227,"wind_gust":6.69,"weather":[{"id":802,"main[...]
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=relaxation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"82-rmadrPTU9CKbq1Onxp6VL1c9ers"
    body:
      encoding: UTF-8
      string: '{"activity":"Take a caffeine nap","type":"relaxation","participants":1,"price":0.1,"link":"","key":"5092652","accessibility":0.08}'
  recorded_at: Mon, 15 Nov 2021 17:25:08 GMT
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=recreational
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7a-o+V82m/3aROAg+OfJ6lpWWQti1c"
    body:
      encoding: UTF-8
      string: '{"activity":"Go for a run","type":"recreational","participants":1,"price":0,"link":"","key":"6852505","accessibility":0.9}'
  recorded_at: Mon, 15 Nov 2021 17:25:10 GMT
[...]
- request:
    method: get
    uri: http://open.mapquestapi.com/geocoding/v1/address?key=<api_key>&location=Anchorage,%20AK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 15 Nov 2021 17:25:59 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success[...]
[...]
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=cooking
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8f-ysXG7C2bo6/kjrkRnocrmhVtFeo"
    body:
      encoding: UTF-8
      string: '{"activity":"Cook something together with someone","type":"cooking","participants":2,"price":0.3,"link":"","key":"1799120","accessibility":0.8}'
  recorded_at: Mon, 15 Nov 2021 17:26:05 GMT
[...]
