---
http_interactions:
- request:
    method: get
    uri: http://open.mapquestapi.com/geocoding/v1/address?key=<api_key>&location=Denver,%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 15 Nov 2021 16:30:53 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Denver,
        CO"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":39.739154,"lng":-104.984703},"displayLatLng":{"lat":39.739154,"lng":-104.984703},"mapUrl":"http://open.mapquestapi.com/staticmap/v5/map?key=<api_key>&type=map&size=225,160&locations=39.7391536,-104.9847034|marker-sm-50318A-1&scalebar=true&zoom=12&rand=351663382"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XCX","geocodeQuality":"COUNTY","dr[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<api_key>&exclude=minutely,alerts&lat=39.739154&lon=-104.984703&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7392,"lon":-104.9847,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1636993853,"sunrise":1636983900,"sunset":1637019866,"temp":66.61,"feels_like":63.91,"pressure":1016,"humidity":20,"dew_point":25.21,"uvi":1.57,"clouds":6,"visibility":10000,"wind_speed":4.41,"wind_deg":227,"wind_gust":7.29,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1636992000,"temp":64.8,"feels_like":62.01,"pressure":1016,"humidity":22,"dew_point":25.9,"uvi":0.79,"clouds":6,"visibility":10000,"wind_speed":5.37,"wind_deg":213,"wind_gust":9.37,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1636995600,"temp":66.61,"feels_like":63.91,"pressure":1016,"humidity":20,"dew_point":25.21,"uvi":1.57,"clouds":6,"visibility":10000,"wind_speed":4.41,"wind_deg":227,"wind_gust":7.29,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1636999200,"temp":66.51,"feels_like":63.79,"pressure":1016,"humidity":20,"dew_point":25.12,"uvi":2.28,"clouds":7,"visibility":10000,"wind_speed":3.58,"wind_deg":214,"wind_gust":7.34,"weather":[{"id":800,"main"[...]
[...]
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=relaxation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ac-B2PTE5uJXZE4O6SU8qCAGGXdxl8"
    body:
      encoding: UTF-8
      string: '{"activity":"Draw and color a Mandala","type":"relaxation","participants":1,"price":0.05,"link":"https://en.wikipedia.org/wiki/Mandala","key":"4614092","accessibility":0.1}'
  recorded_at: Mon, 15 Nov 2021 16:37:59 GMT
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=recreational
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"98-GD0Z0Bpjbh+p2yohnMD1DFzzlc4"
    body:
      encoding: UTF-8
      string: '{"activity":"Practice coding in your favorite lanaguage","type":"recreational","participants":1,"price":0,"link":"","key":"7096020","accessibility":0.1}'
  recorded_at: Mon, 15 Nov 2021 16:38:02 GMT
[...]
