---
http_interactions:
- request:
    method: get
    uri: http://open.mapquestapi.com/geocoding/v1/address?key=<api_key>&location=Denver,%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 14 Nov 2021 05:37:02 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Denver,
        CO"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":39.739154,"lng":-104.984703},"displayLatLng":{"lat":39.739154,"lng":-104.984703},"mapUrl":"http://open.mapquestapi.com/staticmap/v5/map?key=<api_key>&type=map&size=225,160&locations=39.7391536,-104.9847034|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1498232224"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XCX","geocodeQuality":"COUNTY","d[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<api_key>&exclude=minutely,alerts&lat=39.739154&lon=-104.984703&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7392,"lon":-104.9847,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1636868193,"sunrise":1636810962,"sunset":1636847163,"temp":45.23,"feels_like":43.36,"pressure":1021,"humidity":49,"dew_point":27.77,"uvi":0,"clouds":45,"visibility":10000,"wind_speed":4,"wind_deg":80,"wind_gust":8.99,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},"hourly":[{"dt":1636866000,"temp":46.62,"feels_like":44.28,"pressure":1020,"humidity":45,"dew_point":27.09,"uvi":0,"clouds":43,"visibility":10000,"wind_speed":4.94,"wind_deg":228,"wind_gust":7.16,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0},{"dt":1636869600,"temp":45.23,"feels_like":45.23,"pressure":1021,"humidity":49,"dew_point":27.77,"uvi":0,"clouds":45,"visibility":10000,"wind_speed":2.44,"wind_deg":111,"wind_gust":3.47,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0},{"dt":1636873200,"temp":45.43,"feels_like":41.02,"pressure":1021,"humidity":49,"dew_point":27.93,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":8.41,"wind_deg":95,"wind_gust":11.14,"weather":[{"id":802,"m[...]
[...]
