---
http_interactions:
- request:
    method: get
    uri: http://open.mapquestapi.com/geocoding/v1/address?key=iccqjCYTTxH0fCwnSCZx703XSjgOPWdm&location=Denver,%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 14 Nov 2021 00:52:09 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Denver,
        CO"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":39.739154,"lng":-104.984703},"displayLatLng":{"lat":39.739154,"lng":-104.984703},"mapUrl":"http://open.mapquestapi.com/staticmap/v5/map?key=iccqjCYTTxH0fCwnSCZx703XSjgOPWdm&type=map&size=225,160&locations=39.7391536,-104.9847034|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-690396420"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XCX","geoc[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=c5a7b4f636b1e1b470f019ffc3b177ef&exclude=minutely,alerts&lat=39.739154&lon=-104.984703&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7392,"lon":-104.9847,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1636851129,"sunrise":1636810962,"sunset":1636847163,"temp":57.7,"feels_like":54.59,"pressure":1015,"humidity":30,"dew_point":27.16,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":1.01,"wind_deg":148,"wind_gust":1.99,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1636848000,"temp":57.88,"feels_like":54.68,"pressure":1015,"humidity":28,"dew_point":25.81,"uvi":0,"clouds":14,"visibility":10000,"wind_speed":7.09,"wind_deg":339,"wind_gust":12.88,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0},{"dt":1636851600,"temp":57.7,"feels_like":54.59,"pressure":1015,"humidity":30,"dew_point":27.16,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":2.3,"wind_deg":252,"wind_gust":2.89,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1636855200,"temp":57.25,"feels_like":54.05,"pressure":1015,"humidity":29,"dew_point":26.08,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":4.32,"wind_deg":234,"wind_gust":4.5,"weather":[{"id":800,"main":"Clear",[...]
